body{
    background-color: lightblue;
}
.navbar {
    border-radius: 10px;
}
.nav-link.active.nav-link.active.m-1:hover {
background-color: lightblue;
border-radius: 20px 30px;

}
input{
    border-radius: 10px;
    position: relative;
    left: 50px;
    top: 10px;
    width: 80%;
}
.rounded{
    width: 100%;
}    
.button.button-outline.button-light{
    background-color: rgb(137, 118, 90);
    border-radius: 20px;
    margin-top: 17px;
    
}