body{
    background-color: lightblue;
    
}
.navbar {
    border-radius: 10px;
}
.nav-link.active.nav-link.active.m-1:hover {
background-color: lightblue;
border-radius: 20px 30px;
}
.img-rounded{
    width: 300px;
    
}
.button.button-outline.button-light{
    border-radius: 15px;
    background-color: #45a049;
}
footer{
    border-radius: 20px;
}
input{
    border-radius: 10px;
    position: relative;
    left: 50px;
    top: 10px;
    width: 80%;
}